.date-picker {
    .dp-title-box,
    .dp-btns {
        display: table;
        width: 100%;
    }
    .dp-prev,
    .dp-next,
    .dp-title,
    .dp-btns .dp-item {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .dp-content-box {
        .dp-item {
            display: inline-block;
            text-align: center;
            line-height: 72px;
            width: 25%;
        }
    }
    &[data-dp-type="day"] .dp-content-box {
        .dp-item {
            line-height: 44px;
            width: 44px;
        }
        .dp-weekday {
            height: 24px !important;
            line-height: 24px;
        }
    }
}