$dpBackgroundColor: #444 !default;
$dpActiveColor: #06f !default;
$dpDaySize: 44px !default;
$dpWeekdaySize: 24px !default;
$dpWhite: #fff !default;
$dpRed: #f99;
$dpLightGrey: #fff !default;
$dpMediumGrey: #bbb;
$dpDarkGrey: #666;