@import "variables";

.date-picker-container {
    position: relative;
}
.date-picker {
    background: $dpBackgroundColor;
    box-sizing: content-box;
    color: $dpWhite;
    display: none;
    font: 18px/1 Arial;
    padding: 10px;
    position: absolute;
    top: 100%;
    transform: translateY(15px);
    user-select: none;
    width: $dpDaySize * 7;
    z-index: 1;

    &::before {
        border-color: $dpBackgroundColor transparent;
        border-style: solid;
        border-width: 0 10px 10px;
        bottom: 100%;
        content: "";
        left: 20px;
        position: absolute;
    }
    &.to-top {
        bottom: 100%;
        top: auto;
        transform: translateY(-15px);

        &::before {
            border-width: 10px 10px 0;
            bottom: auto;
            top: 100%;
        }
    }
    &.active {
        display: block;
    }
    * {
        box-sizing: border-box;
    }
    .dp-title-box {
        align-items: center;
        border-bottom: 1px solid $dpLightGrey;
        display: flex;
        height: 45px;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .dp-prev,
    .dp-next {
        color: rgba(#fff, .6);
        cursor: pointer;
        display: block; // for IE10
        font-size: 22px;
        line-height: 50px;
        text-align: center;
        transition: .2s;
        width: 50px;

        &:hover {
            color: $dpWhite;
        }
    }
    .dp-title {
        display: block; // for IE10
        font-size: 18px;
        line-height: 40px;
        padding: 0 10px;
    }
    &:not([data-dp-type="year"]) .dp-title {
        cursor: pointer;
    }
    .dp-content-box {
        box-sizing: content-box;
        display: flex;
        flex-wrap: wrap;
        height: $dpWeekdaySize + $dpDaySize * 6;
        justify-content: center;
        padding-top: 10px;
    }
    .dp-btns {
        border-top: 1px solid $dpWhite;
        display: flex;
        padding-top: 10px;

        .dp-item {
            flex: 1 1 0;
            height: 30px !important;
        }
    }
    .dp-item {
        align-items: center;
        display: flex;
        flex: 1 0 25%;
        justify-content: center;

        &:not(.dp-weekday) {
            cursor: pointer;

            &:hover {
                box-shadow: inset 0 0 0 2px lighten($dpActiveColor, 10%), inset 0 0 0 4px $dpBackgroundColor;
            }
        }
    }
    .dp-weekday {
        font-size: 15px;
        height: $dpWeekdaySize !important;
    }
    &[data-dp-type="day"] .dp-item {
        flex-basis: $dpDaySize;
        height: $dpDaySize;
    }
    .dp-current {
        box-shadow: inset 0 0 0 2px lighten($dpActiveColor, 20%);
    }
    .dp-selected {
        background: $dpActiveColor;
    }
    .dp-weekend {
        color: $dpRed;
    }
    .dp-out {
        color: $dpMediumGrey;
    }
    .dp-disabled {
        color: $dpDarkGrey !important;
        cursor: default !important;
        box-shadow: none !important;

        &.dp-current {
            box-shadow: inset 0 0 0 2px lighten($dpActiveColor, 20%) !important;
        }
    }
}

@import "variables";
